body {
	background: #7772BF;
	color: #f5f3ec;
	font-weight: 400;
	font-size: 1em;
	line-height: 1.25;
	position: relative; z-index: 1;
}

*{
    text-align: center;
    font-family: 'Raleway', Calibri, Arial, sans-serif;
}

/* Header */
.codrops-header {
	margin: 0 auto;
}

.codrops-header h1 {
	margin: 0;
	font-size: 2.8em;
}

.codrops-header h1 span {
	display: block;
	padding: 0.4em 0 0.6em 0.1em;
	font-size: 46%;
	font-weight: 300;
	opacity: 0.7;
}

.progress-button {
	position: relative;
	display: inline-block;
	padding: 0 3em;
	outline: none;
	border: none;
	color: #fff;
	text-transform: uppercase;
	font-weight: 700;
	letter-spacing: 1px;
	font-size: 1em;
	z-index: 50;
	line-height: 4;
	overflow: hidden;
	border-radius: 5px;
	background: rgba(0,0,0,0.2);
}

#myButton:hover{
    cursor: pointer;
}

#uploadImage{
    display: none;
}

#hotdog{
    height: 80%;
    width: 80%;
    margin-bottom: -30px
}

.center {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
}

@media screen and (max-width: 561px){

    *{
        font-size: 13px;
        text-align: center;
        font-family: 'Raleway', Calibri, Arial, sans-serif;
    }

}