<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link href="https://fonts.googleapis.com/css?family=Fredoka+One" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/css-loader.css">
</head>

<body>
    <div id="loader" class="loader loader-default"></div>
    <img src="img/hotdog.png" id="hotdog">
    <h1>NOT HOT DOG APP - EXAMPLE</h1>
    <h1>COGNITIVE SERVICE (VISION API) Microsoft Azure</h1>
    <h2>Nodejs + Express + Cloudinary + Vanillajs</h2>
    <button id="myButton">Upload image</button>
    <input type="file" id="uploadImage">

    <script src="js/sweetalert.min.js"></script>
    <script src="js/main.js"></script>

</body>

</html>